<!DOCTYPE html>
<html>
  <head>
    <title>Quiddler</title>
    <% if @game_id %> 
      <meta name="game_id" content="<%=@game_id%>" />
    <% else %>
      <meta name="game_id" content="all" />
    <%end%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
  </head>

  <body class="bg-purple-600 text-white text-4xl font-extrabold">
    <%= yield %>
  </body>
</html>
